/**
 * custom.css - style edits on top of bootstrap
 */

body {
    font-size: 150%;
    color: white;
    background-color: black;
}

.loading {
    background: url('/img/loading-sun.gif') no-repeat;
    top: 50%;
    transform: translateY(70%);
}

.loaded {
    opacity: 1;
}

.section {
    transition-delay: .2s;
    
    opacity: .5;
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition: opacity .6s;
}

hr {
    border-color: white;
    border-width: 5px 0px 0px;
    max-width: 250px;    
}

.page-scroll a {
    font-size: larger;

    position: relative;
    top: 50%;
    transform: translateY(10%);    
}

.solid {
    opacity: 1;
    z-index: 100;
} 

.center {
    margin: auto;
    width: 60%;
    padding-left: 8%;
}

.opaque {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

li {
    padding: 0px;
}
